@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  scroll-behavior: smooth;
}

.fixed-nav-container {
  padding: 1rem 1.875rem 0;
  padding-top: 0;
}

.hero__container {
  padding: 0.9375rem;
}

.container {
  padding: 0.9375rem;
}

.period {
  color: #ff060a;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 17.6px;
  }
}

@media (min-width: 1540px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 24px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

@media (min-width: 280px) and (max-width: 576px) {
  h1 {
    font-size: 2.3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  color: white;
  background: #1f1f1f;
}

.header .main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.25rem;
}

@media (min-width: 992px) {
  .header .main__nav {
    height: 3.6363636363636362rem;
  }
}

.header .nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .nav__links--desktop {
  display: none;
}

@media (min-width: 992px) {
  .header .nav__links--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.header .nav__links--desktop .nav-links-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(8.4rem, 9.1rem))[4];
      grid-template-columns: repeat(4, minmax(8.4rem, 9.1rem));
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  justify-items: center;
  grid-column-gap: 0.7rem;
  margin: 0;
  margin-bottom: 0.3em;
  width: 95%;
  border-bottom: 1px solid #ff060a;
}

.header .nav__links--desktop .nav-links-wrapper li {
  font-size: 0.91rem;
  padding-bottom: 0.45em;
  -ms-flex-item-align: bottom;
      -ms-grid-row-align: bottom;
      align-self: bottom;
}

.header .nav__item--burger {
  font-size: 2.2em;
  cursor: pointer;
}

@media (min-width: 992px) {
  .header .nav__item--burger {
    display: none;
  }
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header li {
  list-style: none;
}

.header__logo {
  height: 54px;
}

@media (min-width: 992px) {
  .header__logo {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

.header .hero-desktop-container {
  width: 100%;
  overflow: hidden;
}

.header .hero__container--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.header .hero__container--content .content__wrapper {
  margin-left: 8.88%;
}

.header .hero__container--content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.header .hero__container--content .hero__paragraph {
  margin-bottom: 1rem;
  line-height: 1.7;
}

@media (min-width: 576px) {
  .header .hero__container--content .hero__paragraph {
    width: 80%;
  }
}

.header .hero__container--content .hero__paragraph--last {
  margin-bottom: 3rem;
}

.header .hero__container--content .hero__button {
  cursor: pointer;
  background-color: #ff060a;
  border: none;
  border-radius: 2rem;
  font-size: 13.92px;
  width: 13.793103448275863em;
  height: 3.3045977011494254em;
}

@media (min-width: 1540px) {
  .header .hero__container--content .hero__button {
    font-size: 16.92px;
  }
}

@media (min-width: 1540px) {
  .header .hero__container--content .hero__button {
    font-size: 20px;
  }
}

.header .hero__container--content .hero__button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.header .hero__container--content .hero__button a {
  color: white;
  text-decoration: none;
}

.header .hero__container--content .hero__button:focus {
  outline: none;
  -webkit-box-shadow: 20px solid white;
          box-shadow: 20px solid white;
}

.header .hero__container--image {
  height: 528px;
  background: url(./assets/hero-img.jpg) no-repeat center;
  background-size: cover;
}

@media (min-width: 992px) {
  .header .nav-inner {
    max-width: 83%;
    margin: 0 auto;
    padding-top: 2.2727272727272725em;
  }
  .header .hero-desktop-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .header .hero__container--content,
  .header .hero__container--image {
    height: calc(100vh - 3.6363636363636362em);
  }
  .header .hero__container--content .content__wrapper {
    margin-left: calc(8.88% + 4.1477272727272725em);
  }
  .header .hero__container--image {
    border-top: 1px solid rgba(255, 6, 10, 0.25);
    border-left: 1px solid rgba(255, 6, 10, 0.25);
  }
}

.whatWeDo {
  padding: 5rem 1.6rem;
}

@media (min-width: 992px) {
  .whatWeDo {
    padding-right: 4.5rem;
  }
}

.whatWeDo .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media (min-width: 992px) {
  .whatWeDo .row {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}

.whatWeDo .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatWeDo img {
  width: 100%;
  max-width: 25rem;
}

@media (min-width: 992px) {
  .whatWeDo img {
    max-width: 30.23rem;
  }
}

@media (min-width: 992px) {
  .whatWeDo .col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.whatWeDo .col2 {
  margin: 0 auto;
  width: 100%;
  max-width: 570px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 1.1rem;
}

.whatWeDo .col2 h1 {
  margin-bottom: 1rem;
}

.whatWeDo .col2 h1 ~ p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.whatWeDo .col2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-bottom: 20px;
  font-weight: 600;
}

.whatWeDo .col2 li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0.4rem;
  margin-right: 1rem;
}

.whatWeDo .col2 svg {
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}
/*# sourceMappingURL=index.css.map */