.header {
  color: $white;
  background: $black;

  .main__nav {
    display: flex;
    align-items: center;
    height: 5.25rem;
    @media (min-width: $l) {
      height: 3.6363636363636362rem;
    }
  }

  .nav-inner {
    @include flex($justify: space-between);
    width: 100%;
  }

  .nav__links--desktop {
    display: none;
    @media (min-width: $l) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }

    .nav-links-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 9.1rem);
      justify-content: end;
      justify-items: center;
      grid-column-gap: 0.7rem;
      margin: 0;
      margin-bottom: 0.3em;
      width: 95%;
      border-bottom: 1px solid $red;
      li {
        font-size: 0.91rem;
        padding-bottom: 0.45em;
        align-self: bottom;
      }
    }
  }

  .nav__item--burger {
    font-size: 2.2em;
    cursor: pointer;
    @media (min-width: $l) {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }

  &__logo {
    height: 54px;
    @media (min-width: $l) {
      transform: translateY(1rem);
    }
  }
}

.header {
  .hero-desktop-container {
    width: 100%;
    overflow: hidden;
  }

  .hero__container--content {
    @include flex();
    height: 80vh;

    .content__wrapper {
      margin-left: 8.88%;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1.5rem;
    }

    .hero__paragraph {
      margin-bottom: 1rem;
      line-height: 1.7;
      @media (min-width: $s) {
        width: 80%;
      }
    }

    .hero__paragraph--last {
      margin-bottom: 3rem;
    }

    .hero__button {
      cursor: pointer;
      background-color: $red;
      border: none;
      border-radius: 2rem;
      font-size: 13.92px;
      @media (min-width: $xl) {
        font-size: 16.92px;
      }
      @media (min-width: $xl) {
        font-size: 20px;
      }
      width: 13.793103448275863em;
      height: 3.3045977011494254em;

      &:hover {
        transform: scale(1.03);
        transition: transform 300ms ease;
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }

    .hero__button:focus {
      outline: none;
      box-shadow: 20px solid white;
    }
  }

  .hero__container--image {
    height: 528px;
    background: url(./assets/hero-img.jpg) no-repeat center;
    background-size: cover;
  }
}

@media (min-width: $l) {
  .header {
    .nav-inner {
      max-width: 83%;
      margin: 0 auto;
      padding-top: 2.2727272727272725em;
    }

    .hero-desktop-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .hero__container--content,
    .hero__container--image {
      height: calc(100vh - 3.6363636363636362em);
    }

    .hero__container--content {
      .content__wrapper {
        margin-left: calc(8.88% + 4.1477272727272725em);
      }
    }

    .hero__container--image {
      border-top: 1px solid rgba($color: $red, $alpha: 0.25);
      border-left: 1px solid rgba($color: $red, $alpha: 0.25);
    }
  }
}
